apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deployment
  namespace: spring-microservice-ns
  labels:
    app: config-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: diman567/config-server:0.0.2
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
          envFrom:
            - configMapRef:
                name: global-config-map
            - configMapRef:
                name: config-server-config-map
            - secretRef:
                name: config-server-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: config-server-service
  namespace: spring-microservice-ns
spec:
  type: ClusterIP
  selector:
    app: config-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8888

